/*.uwc
*/*.uwc
*/*/*.uwc
RegrTest/_sbApps4Regr/BL654/$autorun$.AT.interface.BL654._.uwc

/*.tws
*/*.tws
*/*/*.tws

/*.aut.txt
*/*.aut.txt
*/*/*.aut.txt
*/*/*/*.aut.txt

RegrTest/*/*/Log/*

*.xlsx

Archive/*
Archive/*/*
Archive/*/*/*

sreg.defaults.creation.*.sb

Deploy/*

/*.lnk
*/*.lnk
*/*/*.lnk

